DB_TYPE=postgresdb
DB_POSTGRESDB_HOST=
DB_POSTGRESDB_PORT=
DB_POSTGRESDB_USER=
DB_POSTGRESDB_PASSWORD=
DB_POSTGRESDB_DATABASE=
N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true # Recommend
GENERIC_TIMEZONE="Asia/Ho_Chi_Minh"
TZ="Asia/Ho_Chi_Minh"